code-block {
    display: block;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid var(--grey-800);
    overflow: hidden;

    & copy-button {
        position: absolute;
        right: 0.5rem;
        z-index: 1;
        background-color: hsl(var(--grey-800-hsl) / 0.3);
        color: var(--grey-400);
        border-radius: 16px;
        padding: 0 0.75rem;
        height: 32px;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        font-size: var(--font-xs);
        font-weight: var(--font-medium);
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        visibility: hidden;
        opacity: 0;
        border: 1px solid transparent;

        &:hover,
        &:focus-visible{
            background-color: var(--grey-800);
            color: var(--white);
            opacity: 1;
            visibility: visible;
        }

        &:active{
            color: var(--emerald-400);
            background-color: hsl(var(--emerald-400-hsl) / 0.1);
            border-color: hsl(var(--emerald-400-hsl) / 0.3);
        }

        & svg {
            width: 14px;
            height: 14px;
            margin-right: 0.25rem;
        }
    }

    & h3 {
        display: block;
        height: 50px;
        padding: 0 1rem;
        line-height: 50px;
        font-size: var(--font-xs);
        font-weight: var(--font-medium);
        background-color: hsl(var(--grey-950-hsl) / 0.15);
        width: 100%;
        border-bottom: 1px solid var(--grey-800);
        color: var(--white);
    }

    & h4 {
        height: 36px;
        line-height: 36px;
        padding: 0 1rem;
        border-bottom: 1px solid var(--grey-800);
        background-color: hsl(var(--white-hsl) / 0.03);

        & span {
            position: relative;
            font-size: var(--font-xs);
            font-weight: var(--font-base);
            font-family: var(--font-mono);

            &[method] {
                font-weight: var(--font-bold);
                padding-right: 0.5rem;
                margin-right: 0.5rem;

                &::after{
                    content: "";
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: var(--grey-500);
                    position: absolute;
                    right: -4px;
                    top: 40%;
                    transform: translateY(-50%);
                }
            }
            &[method="GET"] {
                color: var(--emerald-400);
            }
            &[method="POST"] {
                color: var(--cyan-400);
            }
            &[method="PUT"] {
                color: var(--amber-400);
            }
            &[method="DELETE"] {
                color: var(--rose-400);
            }
            &[method="PATCH"] {
                color: var(--purple-400);
            }
        }
    }

    & source-code {
        width: 100%;
        display: block;
        overflow-x: auto;
        background-color: hsl(var(--white-hsl) / 0.01);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;

        &.is-visible {
            opacity: 1;
            visibility: visible;
        }

        &:hover,
        &:focus-within {
            & + copy-button {
                visibility: visible;
                opacity: 1;
            }
        }

        & pre {
            padding: 1rem;
        }
    }
}
