.info-bubble {
    display: block;
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem calc(2rem + 20px);
    color: var(--emerald-200);
    background-color: hsl(var(--emerald-400-hsl) / 0.05);
    border: 1px solid hsl(var(--emerald-300-hsl) / 0.2);
    font-size: var(--font-sm);

    & svg {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 1.75rem;
        left: 1rem;
    }

    & a {
        color: var(--white);
        text-decoration: none;
        transition: color 0.15s ease-in-out;

        &:hover,
        &:focus-visible {
            color: var(--emerald-300);
            text-decoration: underline;
        }
    }

    & ul,
    & ol {
        padding-left: 1.5rem;

        & li {
            padding-left: 0.5rem;
            line-height: 28px;
            margin: 0.5rem 0;
        }
    }

    & code {
        padding: 0.25rem 0.375rem 0.125rem;
        font-size: var(--font-xs);
        background-color: hsl(var(--grey-400-hsl) / 0.05);
        border-radius: 0.5rem;
        border: 1px solid var(--grey-700);
        color: var(--white);
        font-family: var(--font-mono);
    }
}
