html {
    font-size: 100%;
}
body {
    color: var(--grey-400);
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.618;
    background-color: rgb(24, 24, 27);
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    display: block;

    @media (min-width: 1024px){
        display: grid;
        grid-template-areas:    
            "nav header"
            "nav main";
        grid-template-columns: 320px 1fr;
        grid-template-rows: 56px 1fr;
    }

    & header {
        grid-area: header;
        border-bottom: 1px solid hsl(var(--grey-200-hsl) / 0.1);
        backdrop-filter: blur(8px);
        background-color: hsl(var(--grey-900-hsl) / 0.2);
        position: relative;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        &.open {
            background-color: hsl(var(--grey-900-hsl) / 0.8);
        }

        @media (min-width: 1024px) {
            max-width: calc(100vw - 320px);
            padding: 0 4rem;
            background-color: hsl(var(--grey-900-hsl) / 0.2) !important;
        }

        & .divider {
            display: none;
            height: 20px;
            width: 1px;
            background-color: hsl(var(--grey-200-hsl) / 0.15);

            @media (min-width: 1400px) {
                display: inline-block;
            }
        }

        & a {
            display: none;
            font-size: var(--font-sm);
            transition: color 0.15s ease-in-out;

            &:hover,
            &:focus-visible {
                color: var(--white);
            }

            @media (min-width: 1200px) {
                display: inline-block;
            }
        }

        & .mobile {
            width: 24px;
            height: 24px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right: 1rem;
            color: var(--white);

            &:hover,
            &:focus-visible {
                &::before {
                    opacity: 0.05;
                }
            }

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 6px;
                background-color: var(--white);
                opacity: 0;
            }

            @media (min-width: 1024px) {
                display: none;
            }
        }

        & .search {
            background-color: hsl(var(--white-hsl) / 0.05);
            border: 1px solid hsl(var(--grey-200-hsl) / 0.1);
            height: 32px;
            border-radius: 1rem;
            padding: 0 0.75rem;
            color: var(--grey-400);
            width: 240px;
            line-height: 1;
            transition: border-color 0.15s ease-in-out;
            display: none;

            &:hover,
            &:focus-visible {
                border-color: hsl(var(--grey-200-hsl) / 0.2);
            }

            @media (min-width: 500px) {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                flex-flow: row nowrap;
            }

            @media (min-width: 1400px) {
                width: 420px;
            }

            svg {
                width: 14px;
                height: 14px;
                margin-right: 0.75rem;
                display: inline-block;
            }
        }
    }

    & nav {
        grid-area: nav;
        border-right: 1px solid var(--grey-800);
        padding: 1rem 1.5rem;
        position: fixed;
        top: 56px;
        left: 0;
        height: calc(100vh - 56px);
        overflow-y: auto;
        overscroll-behavior: contain;
        width: 320px;
        backdrop-filter: blur(12px);
        background-color: hsl(var(--grey-900-hsl) / 0.8);
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.3s var(--ease-in);
        visibility: hidden;

        &.open {
            transform: translateX(0);
            visibility: visible;
        }

        @media (min-width: 1024px) {
            height: 100vh;
            top: 0;
            transform: translateX(0) !important;
            visibility: visible !important;
        }

        & #logo {
            display: inline-block;
            height: 24px;
            margin-bottom: 2.5rem;

            & svg {
                height: 100%;
            }
        }

        & ul {
            list-style: none;
            margin: 0 0 0 0.5rem;
            padding: 0;
            border-left: 1px solid var(--grey-800);

            & li {
                margin-left: -0.5rem;
                position: relative;
                line-height: 32px;

                &.is-active {
                    &::before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: var(--emerald-400);
                        left: 0;
                        top: 0;
                        position: absolute;
                        background-color: hsl(var(--grey-200-hsl) / 0.025);
                        border-radius: 0.5rem;
                    }

                    &::after{
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 24px;
                        background-color: var(--emerald-400);
                        left: 0.5rem;
                        top: 4px;
                        position: absolute;
                        border-left: 1px solid var(--emerald-400);
                    }

                    & > a {
                        color: var(--white);
                    }

                    & .page-jumps {
                        display: block;

                        & a {
                            padding-left: 2.5rem;
                        }
                    }
                }

                & .page-jumps {
                    display: none;
                }
            }
            
            & a {
                height: 32px;
                display: block;
                transition: color 0.15s ease-in-out;
                padding: 0 1rem 0 1.5rem;

                &:hover,
                &:focus-visible {
                    color: var(--white);
                }
            }
        }
    }

    & main {
        grid-area: main;
        display: block;
        width: 100%;

        @media (min-width: 1024px) {
            max-width: calc(100vw - 320px);
        }
    }
}

