rich-text {
    display: block;
    width: 100%;
    position: relative;

    & p {
        display: block;
        width: 100%;
        margin: 1.5rem 0;

        &:first-of-type {
            margin-top: 0;
        }
    }

    & a {
        color: var(--emerald-400);
        font-weight: var(--font-medium);
        text-decoration: none;
        transition: color 0.15s ease-in-out;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
            color: var(--emerald-500);
        }
    }

    & ul,
    & ol {
        padding-left: 1.5rem;

        & li {
            padding-left: 0.5rem;
            line-height: 28px;
            margin: 0.5rem 0;
        }
    }

    & code {
        padding: 0.25rem 0.375rem 0.125rem;
        font-size: var(--font-xs);
        background-color: hsl(var(--grey-400-hsl) / 0.05);
        border-radius: 0.5rem;
        border: 1px solid var(--grey-700);
        color: var(--white);
        font-family: var(--font-mono);
    }
}

.link {
    color: var(--emerald-400);
    font-weight: var(--font-medium);
    text-decoration: none;
    transition: color 0.15s ease-in-out;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
        color: var(--emerald-500);
    }
}
